<?xml version="1.0"?>
<config>
    <modules>
        <GDO_Payment>
            <version>1.0.0</version>
        </GDO_Payment>
    </modules>
    <global>
        <models>
            <gdopayment>
                <class>GDO_Payment_Model</class>
                <resourceModel>gdopayment_resource</resourceModel>
            </gdopayment>
            <gdopayment_resource>
                <class>GDO_Payment_Model_Resource</class>
                <entities>
                    <block>
                        <table>gdo_payment_filter</table>
                    </block>
                </entities>
            </gdopayment_resource>
        </models>
        <resources>
            <gdopayment_setup>
                <setup>
                    <module>GDO_Payment</module>
                </setup>
            </gdopayment_setup>
        </resources>
        <blocks>
            <gdopayment>
                <class>GDO_Payment_Block</class>
            </gdopayment>
        </blocks>
        <helpers>
            <gdopayment>
                <class>GDO_Payment_Helper</class>
            </gdopayment>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <GDO_Payment>
                    <files>
                        <default>GDO_Payment.csv</default>
                    </files>
                </GDO_Payment>
            </modules>
        </translate>
        <events>
            <payment_method_is_active>
                <observers>
                    <gdo_payment>
                        <class>gdopayment/observer</class>
                        <method>paymentMethodIsActive</method>
                        <type>model</type>
                    </gdo_payment>
                </observers>
            </payment_method_is_active>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GDO_Payment>
                    <files>
                        <default>GDO_Payment.csv</default>
                    </files>
                </GDO_Payment>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gdopayment before="Mage_Adminhtml">GDO_Payment_Adminhtml</gdopayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <gdopayment>
                <active>1</active>
                <model>gdopayment/method</model>
                <order_status>pending</order_status>
                <title>Secret Code</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>offline</group>
            </gdopayment>
        </payment>
    </default>
</config>
